<div class="dropdown show">
    <button class="btn btn-secondary" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <svg width="16" height="4" viewBox="0 0 16 4" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle class="filter" cx="2" cy="2" r="2" fill="#ACAEAC"/>
            <circle class="filter" cx="8" cy="2" r="2" fill="#ACAEAC"/>
            <circle class="filter" cx="14" cy="2" r="2" fill="#ACAEAC"/>
        </svg>

    </button>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item link" href="#">Edit Gym</a>
        <a class="dropdown-item" href="#">View Gym</a>
        <a class="dropdown-item" href="#">
            <button type="button" class="dropdown-item_delete" data-toggle="modal" data-target="#deleteModalCenter">
                Delete Gym
            </button>
        </a>
    </div>
</div>