.main_container {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 23px;
}

/*form*/
.container_btn_button {
    padding: 2px 0 0 11px;
}
.container_to_group {
    max-width: 942px;
}
.group_margin_text {
    margin-bottom: 0.9rem;
}
.text_container {
    height: 90px;
}
.textarea_container {
    height: 72px;
}
.container_text_margin {
    margin-bottom: 1.2rem;
}
.group_button_container {
    margin-left: 0.3rem;
    margin-bottom: 19px;
}
.btn_container {
    margin-bottom: 1.5em;
}
.share_check_custom::before {
    width: 24px;
    height: 24px;
    border: #907CFF 2px solid;
}
.share_check_custom::after {
    width: 24px;
    height: 24px;
    border: #907CFF 2px solid;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background-color: #907CFF;
    background-image:  url('./img/correct.svg')
}
.confirm_lable {
    font-size: 16px;
    line-height: 25px;
}
.main_container_drop {
   max-width: 1040px;
}
.form_container_checkbox {
    margin-left: 5px;
    margin-bottom: 27px;
}
.container_form {
    margin-bottom: 23px;
}
.form_inform_text {
    font-size: 19px;
    line-height: 23px;
}
.font_size_exercise {
    line-height: 15px;
    font-size: 15px;
}
.add_exercise_position {
    margin-top: 8px;
}
.form_lablel_unic {
    margin-left: 8px;
    width: 176px;
}
.form_lable {
    padding-left: 30px;
}
.box_margin {
    margin-left: 22px;
}
.form_lablel_color_fiolet {
    color: #907CFF;
}
.form_lablel_color {
    color: #7E8283;
}
.low_container {
    padding-top: 6px;
}
.box_wod-experies {
    margin-right: 64px;
}
.form_lablel_metric {
    margin-left: 77px;
}


.drop_menu_container {
    width: 227px;
    height: 44px;
    background-color: #fff;
    color: #000;
    border: 1px solid #D9D9D6;
    box-sizing: border-box;
    border-radius: 3px;
}
.drop_picture {
    background: url('./img/dropdown_icon.svg') no-repeat;
    height: 13px;
    width: 14px;
}
.box_dropdown {
    background: #FFFFFF;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.width_unic {
    width: 224px;
}
.input[type="month" i] {
    cursor: none;
    word-spacing: 899px;
}
.logo_container {
    max-width: 500px;
}
.drop_menu_small {
    width: 92px;
    height: 44px;
    background-color: #fff;
    color: #000;
    border: 1px solid #D9D9D6;
    box-sizing: border-box;
    border-radius: 3px;
}
.container_text_m {
    padding-left: 0;
    width: 64px;
}
.class_container {
    padding: 2px 5px;
}
/*.container_padding_btn {*/
/*    margin: 0 10px 0px 0px;*/
/*    padding: 2px 12px;*/
/* }*/
.container_padding_left {
    margin-bottom: 14px;
    margin-left: 26px;
    padding-top: 3px;
}
/*button*/
.button_save {
    background: #907CFF;
    width: 305px;
    height: 44px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
}
.drop_menu_small {
    width: 92px;
    height: 44px;
    background-color: #fff;
    color: #000;
    border: 1px solid #D9D9D6;
    box-sizing: border-box;
    border-radius: 3px;
}
.container_text {
    max-width: fit-content;
}
.mask {
    opacity: 0;
}
.img_drop_mask {
    padding: 0;
    max-width: fit-content;
}

.img_drop {
    padding: 8px 10px 0 0;
    max-width: fit-content;
}
/*button*/
.button_save {
    background: #907CFF;
    width: 305px;
    height: 44px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
}
