<div class="dropdown">
    <button role="button" type="button" class="filter-btn dropdown" data-toggle="dropdown">
        <input class="input_mask" checked type="radio" name="radioActive">
        <svg class="svg" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect class="filter-bg" width="32" height="32" rx="4" fill="#F2F2F2"/>
            <path class="filter" d="M14 22H18V20H14V22ZM7 10V12H25V10H7ZM10 17H22V15H10V17Z"
                  fill="#ACAEAC"/>
        </svg>
    </button>
    <div class="dropdown-menu">
        <h5 class="dropdown-header">FIlter by model</h5>
        <a class="dropdown-item link" href="#">
            <input class="input_mask" id="go-total" type="radio" name="radioActive">
            <label for="go-total" class="dropdown-text">Totalfit Go
            </label>
        </a>

        <a class="dropdown-item link" href="#">
            <input class="input_mask" id="home-total" type="radio" name="radioActive">
            <label for="home-total" class="dropdown-text">Totalfit Home
            </label>
        </a>
        <!--type='button' is important-->
        <h5 class="dropdown-header">filter by direction</h5>
        <a class="dropdown-item link" href="#">
            <input class="input_mask" id="filter-direction1" type="radio" name="radioActive">
            <label for="filter-direction1" class="dropdown-text">General
            </label>
        </a>
        <a class="dropdown-item link" href="#">
            <input class="input_mask" type="radio" id="filter-direction2" name="radioActive">
            <label for="filter-direction2" class="dropdown-text">Defense</label>
        </a>
        <a class="dropdown-item link" href="#">
            <input class="input_mask" type="radio" id="filter-direction3" name="radioActive">
            <label for="filter-direction3" class="dropdown-text">Youth</label>
        </a>
        <a class="dropdown-item link" href="#">
            <input class="input_mask" type="radio" id="filter-direction4" name="radioActive">
            <label for="filter-direction4" class="dropdown-text">Performance</label>
        </a>
        <div class="dropdown-box_apply">
            <h5 class="dropdown-header_clear">Clear all</h5>
            <button type="button" class="dropdown-apply">Apply</button>
        </div>
    </div>
</div>