@import "src/scss/colors";

.modal {
  &-content {
    padding: 20px 15px 14px 24px;
    width: 339px;
    height: 141px;

    .modal_close {
      position: absolute;
      top: 9px;
      right: 13px;
    }
  }

  &-title {
    position: relative;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.0041em;
  }

  &_body {
    font-size: 12px;
    line-height: 14px;
    margin: 8px 0 12px;
    color: $darken-gray;
  }

  &_footer {
    margin: 0;

    .modal_box {
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
}

.dropdown {

  &-box_apply {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 22px;
  }

  &-header_clear {
    position: inherit;
    color: $menu-color;
    letter-spacing: 0.0125em;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }

}