<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div>
                <h5 class="modal-title" id="exampleModalCenterTitle">You are about to delete a gym?</h5>
            </div>
            <div class="modal_body">
                This will delete Totalfit Brighton Gym from catalog.
                Are you sure?
            </div>
            <div class="modal_footer">
                <button type="button" class="modal_close" data-dismiss="modal"><img src="assets/img/gym-card/close.png" alt="cansel"></button>
                <div class="dropdown-box_apply modal_box">
                    <h5 class="dropdown-header_clear">Cancel</h5>
                    <button type="button" class="dropdown-apply">delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
