
<div class="content-block">
    <div class="content-buttons">
        <div class="content-buttons-left">
            <div class="keep-inside-clicks-open dropdown">
                <button role="button" type="button" class="filter-btn dropdown" data-toggle="dropdown">
                    <input class="input_mask" id="input_btn" checked type="radio" name="radioActive">
                    <label for="input_btn" class="filter-input_main">
                      <svg class="svg" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <rect class="filter-bg" width="32" height="32" rx="4" fill="#F2F2F2"/>
                        <path class="filter" d="M14 22H18V20H14V22ZM7 10V12H25V10H7ZM10 17H22V15H10V17Z"
                              fill="#ACAEAC"/>
                      </svg>
                    </label>
                </button>
                <div class="dropdown-menu">
                    <h5 class="dropdown-header">FIlter by model</h5>
                    <a class="dropdown-item link" href="#">
                        <input class="input_mask" id="go-total" type="radio" name="radioActive">
                        <label for="go-total" class="dropdown-text">Totalfit Go
                        </label>
                    </a>

                    <a class="dropdown-item link" href="#">
                        <input class="input_mask" id="home-total" type="radio" name="radioActive">
                        <label for="home-total" class="dropdown-text">Totalfit Home
                        </label>
                    </a>
                    <!--type='button' is important-->
                    <h5 class="dropdown-header">filter by direction</h5>
                         <a class="dropdown-item link" href="#">
                             <input class="input_mask" id="filter-direction1" type="radio" name="radioActive">
                             <label for="filter-direction1" class="dropdown-text">General
                             </label>
                         </a>
                        <a class="dropdown-item link" href="#">
                            <input class="input_mask" type="radio" id="filter-direction2" name="radioActive">
                            <label for="filter-direction2" class="dropdown-text">Defense</label>
                        </a>
                    <a class="dropdown-item link" href="#">
                        <input class="input_mask" type="radio" id="filter-direction3" name="radioActive">
                        <label for="filter-direction3" class="dropdown-text">Youth</label>
                    </a>
                    <a class="dropdown-item link" href="#">
                        <input class="input_mask" type="radio" id="filter-direction4" name="radioActive">
                        <label for="filter-direction4" class="dropdown-text">Performance</label>
                    </a>
                    <div class="dropdown-box_apply">
                        <h5 class="dropdown-header_clear">Clear all</h5>
                        <button type="button" class="dropdown-apply">Apply</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-buttons-right">
            <button class="add-gym-btn blue-btn">
                <p class="blue-btn_button">+</p> <p class="blue-btn_add">add new gym</p>
            </button>
        </div>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-m-5">
                <div class="gym-card">
                    <div class="card-image">
                        <div class="card-image_box">
                            <img class="w-100" src="assets/img/gym-card/gym.png" alt="Gym"/>
                        </div>
                        <div class="card-image-overlay">
                            <span class="card-detail-badge home">Home</span>
                            <div class="keep-inside-clicks-open dropdown">
                                <div class="dropdown show">
                                    <a class="btn btn-secondary" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <svg class="svg" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path class="filter" d="M4 2C4 3.10457 3.10457 4 2 4C0.895431 4 0 3.10457 0 2C0 0.895431 0.895431 0 2 0C3.10457 0 4 0.895431 4 2Z" fill="#ACAEAC"/>
                                            <path class="filter" d="M10 2C10 3.10457 9.10457 4 8 4C6.89543 4 6 3.10457 6 2C6 0.895431 6.89543 0 8 0C9.10457 0 10 0.895431 10 2Z" fill="#ACAEAC"/>
                                            <path class="filter" d="M16 2C16 3.10457 15.1046 4 14 4C12.8954 4 12 3.10457 12 2C12 0.895431 12.8954 0 14 0C15.1046 0 16 0.895431 16 2Z" fill="#ACAEAC"/>
                                        </svg>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item link" href="#">Edit Gym</a>
                                        <a class="dropdown-item" href="#">View Gym</a>
                                        <a class="dropdown-item" href="#">
                                            <button type="button" class="dropdown-item_delete" data-toggle="modal" data-target="#exampleModalCenter">
                                                Delete Gym
                                            </button>
                                        </a>
                                    </div>
                                </div>
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal_header">
                                                <h5 class="modal-title" id="exampleModalCenterTitle">You are about to delete a gym?</h5>
                                            </div>
                                            <div class="modal_body">
                                                This will delete Totalfit Brighton Gym from catalog.
                                                Are you sure?
                                            </div>
                                            <div class="modal_footer">
                                                <button type="button" class="modal_close" data-dismiss="modal"><img src="assets/img/gym-card/close.png" alt="cansel"></button>
                                                <div class="dropdown-box_apply modal_box">
                                                    <h5 class="dropdown-header_clear">Cancel</h5>
                                                    <button type="button" class="dropdown-apply">delete</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Modal end -->
                            </div>
                        </div>
                    </div>

                    <div class="card-body text-left">
                        <div class="title">
                            <h5>Totalfit Brighton</h5>
                        </div>
                        <div class="address">
                            <p>34, Watson st. London, UK</p>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-m-5">
                <div class="gym-card">
                    <div class="card-image">
                        <div class="card-image_box">
                            <img class="w-100" src="assets/img/gym-card/gym.png" alt="Gym"/>
                        </div>
                        <div class="card-image-overlay">
                            <span class="card-detail-badge home">Home</span>
                            <div class="keep-inside-clicks-open dropdown">
                                <div class="dropdown show">
                                    <a class="btn btn-secondary" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <svg class="svg" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path class="filter" d="M4 2C4 3.10457 3.10457 4 2 4C0.895431 4 0 3.10457 0 2C0 0.895431 0.895431 0 2 0C3.10457 0 4 0.895431 4 2Z" fill="#ACAEAC"/>
                                            <path class="filter" d="M10 2C10 3.10457 9.10457 4 8 4C6.89543 4 6 3.10457 6 2C6 0.895431 6.89543 0 8 0C9.10457 0 10 0.895431 10 2Z" fill="#ACAEAC"/>
                                            <path class="filter" d="M16 2C16 3.10457 15.1046 4 14 4C12.8954 4 12 3.10457 12 2C12 0.895431 12.8954 0 14 0C15.1046 0 16 0.895431 16 2Z" fill="#ACAEAC"/>
                                        </svg>
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item link" href="#">Edit Gym</a>
                                        <a class="dropdown-item" href="#">View Gym</a>
                                        <a class="dropdown-item" href="#">
                                            <button type="button" class="dropdown-item_delete" data-toggle="modal" data-target="#exampleModalCenter">
                                                Delete Gym
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-body text-left">
                        <div class="title">
                            <h5>Totalfit Brighton</h5>
                        </div>
                        <div class="address">
                            <p>34, Watson st. London, UK</p>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-m-5">
                <div class="gym-card card_go">
                    <div class="card-image">
                        <div class="card-image_box">
                            <img class="w-100" src="assets/img/gym-card/gym.png" alt="Gym"/>
                        </div>
                        <div class="card-image-overlay">
                            <span class="card-detail-badge go">Go</span>
                            <div class="keep-inside-clicks-open dropdown">
                                <div class="dropdown show">
                                    <a class="btn btn-secondary" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <svg class="svg" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path class="filter" d="M4 2C4 3.10457 3.10457 4 2 4C0.895431 4 0 3.10457 0 2C0 0.895431 0.895431 0 2 0C3.10457 0 4 0.895431 4 2Z" fill="#ACAEAC"/>
                                            <path class="filter" d="M10 2C10 3.10457 9.10457 4 8 4C6.89543 4 6 3.10457 6 2C6 0.895431 6.89543 0 8 0C9.10457 0 10 0.895431 10 2Z" fill="#ACAEAC"/>
                                            <path class="filter" d="M16 2C16 3.10457 15.1046 4 14 4C12.8954 4 12 3.10457 12 2C12 0.895431 12.8954 0 14 0C15.1046 0 16 0.895431 16 2Z" fill="#ACAEAC"/>
                                        </svg>
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item link" href="#">Edit Gym</a>
                                        <a class="dropdown-item" href="#">View Gym</a>
                                        <a class="dropdown-item" href="#">
                                            <button type="button" class="dropdown-item_delete" data-toggle="modal" data-target="#exampleModalCenter">
                                                Delete Gym
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-body text-left">
                        <div class="title">
                            <h5>Totalfit London <br />
                                Square Garden</h5>
                        </div>
                        <div class="address">
                            <p>34, Watson st. London, UK</p>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-m-5">
                <div class="gym-card card_go">
                    <div class="card-image">
                        <div class="card-image_box">
                            <img class="w-100" src="assets/img/gym-card/gym.png" alt="Gym"/>
                        </div>
                        <div class="card-image-overlay">
                            <span class="card-detail-badge go">Go</span>
                            <div class="keep-inside-clicks-open dropdown">
                                <div class="dropdown show">
                                    <a class="btn btn-secondary" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <svg class="svg" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path class="filter" d="M4 2C4 3.10457 3.10457 4 2 4C0.895431 4 0 3.10457 0 2C0 0.895431 0.895431 0 2 0C3.10457 0 4 0.895431 4 2Z" fill="#ACAEAC"/>
                                            <path class="filter" d="M10 2C10 3.10457 9.10457 4 8 4C6.89543 4 6 3.10457 6 2C6 0.895431 6.89543 0 8 0C9.10457 0 10 0.895431 10 2Z" fill="#ACAEAC"/>
                                            <path class="filter" d="M16 2C16 3.10457 15.1046 4 14 4C12.8954 4 12 3.10457 12 2C12 0.895431 12.8954 0 14 0C15.1046 0 16 0.895431 16 2Z" fill="#ACAEAC"/>
                                        </svg>
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item link" href="#">Edit Gym</a>
                                        <a class="dropdown-item" href="#">View Gym</a>
                                        <a class="dropdown-item" href="#">
                                            <button type="button" class="dropdown-item_delete" data-toggle="modal" data-target="#exampleModalCenter">
                                                Delete Gym
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="card-body text-left">
                        <div class="title">
                            <h5>Totalfit New York<br />
                                City Garden</h5>
                        </div>
                        <div class="address">
                            <p>34, Watson st. London, UK</p>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-m-5">
                <div class="gym-card">
                    <div class="card-image">
                        <div class="card-image_box">
                            <img class="w-100" src="assets/img/gym-card/gym.png" alt="Gym"/>
                        </div>
                        <div class="card-image-overlay">
                            <span class="card-detail-badge home">Home</span>
                            <div class="keep-inside-clicks-open dropdown">
                                <div class="dropdown show">
                                    <a class="btn btn-secondary" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <svg class="svg" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path class="filter" d="M4 2C4 3.10457 3.10457 4 2 4C0.895431 4 0 3.10457 0 2C0 0.895431 0.895431 0 2 0C3.10457 0 4 0.895431 4 2Z" fill="#ACAEAC"/>
                                            <path class="filter" d="M10 2C10 3.10457 9.10457 4 8 4C6.89543 4 6 3.10457 6 2C6 0.895431 6.89543 0 8 0C9.10457 0 10 0.895431 10 2Z" fill="#ACAEAC"/>
                                            <path class="filter" d="M16 2C16 3.10457 15.1046 4 14 4C12.8954 4 12 3.10457 12 2C12 0.895431 12.8954 0 14 0C15.1046 0 16 0.895431 16 2Z" fill="#ACAEAC"/>
                                        </svg>
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item link" href="#">Edit Gym</a>
                                        <a class="dropdown-item" href="#">View Gym</a>
                                        <a class="dropdown-item" href="#">
                                            <button type="button" class="dropdown-item_delete" data-toggle="modal" data-target="#exampleModalCenter">
                                                Delete Gym
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="card-body text-left">
                        <div class="title">
                            <h5>Totalfit Brighton</h5>
                        </div>
                        <div class="address">
                            <p>34, Watson st. London, UK</p>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-m-5">
                <div class="gym-card card_go">
                    <div class="card-image">
                        <div class="card-image_box">
                            <img class="w-100" src="assets/img/gym-card/gym.png" alt="Gym"/>
                        </div>
                        <div class="card-image-overlay">
                            <span class="card-detail-badge go">Go</span>
                            <div class="keep-inside-clicks-open dropdown">
                                <div class="dropdown show">
                                    <a class="btn btn-secondary" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <svg class="svg" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path class="filter" d="M4 2C4 3.10457 3.10457 4 2 4C0.895431 4 0 3.10457 0 2C0 0.895431 0.895431 0 2 0C3.10457 0 4 0.895431 4 2Z" fill="#ACAEAC"/>
                                            <path class="filter" d="M10 2C10 3.10457 9.10457 4 8 4C6.89543 4 6 3.10457 6 2C6 0.895431 6.89543 0 8 0C9.10457 0 10 0.895431 10 2Z" fill="#ACAEAC"/>
                                            <path class="filter" d="M16 2C16 3.10457 15.1046 4 14 4C12.8954 4 12 3.10457 12 2C12 0.895431 12.8954 0 14 0C15.1046 0 16 0.895431 16 2Z" fill="#ACAEAC"/>
                                        </svg>
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item link" href="#">Edit Gym</a>
                                        <a class="dropdown-item" href="#">View Gym</a>
                                        <a class="dropdown-item" href="#">
                                            <button type="button" class="dropdown-item_delete" data-toggle="modal" data-target="#exampleModalCenter">
                                                Delete Gym
                                            </button>
                                        </a>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="card-body text-left">
                        <div class="title">
                            <h5>Totalfit London <br />
                                Square Garden</h5>
                        </div>
                        <div class="address">
                            <p>34, Watson st. London, UK</p>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<script src="../js/gyms/gyms.js"></script>