<div class="modal fade" id="deleteModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="modal_close" data-dismiss="modal"><img src="assets/img/gym-card/close.png" alt="cansel"></button>

            <div class="modal_header">
                <h5 class="modal-title" id="deleteModalCenterTitle">You are about to delete a gym?</h5>
            </div>
            <div class="modal_body">
                This will delete Totalfit Brighton Gym from catalog.
                Are you sure?
            </div>
            <div class="modal_footer">
                <div class="dropdown-box_apply modal_box">

                    <button type="button" class="dropdown-header_clear" data-dismiss="modal">Cancel</button>

                    <button class="blue-btn">
                        <span class="blue-btn_text">delete</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
          