<div class="add-gym-container">
    <div class="container">
        <div class="row">
            <div class="col-4 col-md-6">
                <form class="add-gym-form">
                    <h2>General information</h2>

                    <div class="form-group">

                        <label for="user-name" class="label user-input">
                            <span class="label-name">Name</span>
                            <input type="text" id="user-name" class="form-control user-input_name"
                                   name="user-input_name">
                        </label>

                        <div>
                            <label class="label user-select">
                                <span class="label-name">Totalfit Direction</span>
                            </label>

                            <div class="select-box">
                                <div class="select-box__current" tabindex="1">
                                    <div class="select-box__value">
                                        <input class="select-box__input" type="radio" id="direction1" value="Cheese"
                                               name="totalfit_direction"/>
                                        <p class="select-box__input-text">Cheese</p>
                                    </div>
                                    <div class="select-box__value">
                                        <input class="select-box__input" type="radio" id="direction2" value="Milk"
                                               name="totalfit_direction"/>
                                        <p class="select-box__input-text">Milk</p>
                                    </div>
                                    <div class="select-box__value">
                                        <input class="select-box__input" type="radio" id="direction3" value="Honey"
                                               name="totalfit_direction"/>
                                        <p class="select-box__input-text">Honey</p>
                                    </div>
                                    <div class="select-box__value" style="height: 44px">
                                        <input class="select-box__input" type="radio" id="direction4" value="none"
                                               name="totalfit_direction" checked="checked"/>
                                        <p class="select-box__input-text"></p>
                                    </div>
                                    <img class="select-box__icon" src="assets/img/icons/dropdown_icon.svg"
                                         alt="Arrow Icon" aria-hidden="true"/></div>

                                <ul class="select-box__list">
                                    <li><label class="select-box__option" for="direction1" aria-hidden="aria-hidden">Cheese</label>
                                    </li>
                                    <li><label class="select-box__option" for="direction2" aria-hidden="aria-hidden">Milk</label>
                                    </li>
                                    <li><label class="select-box__option" for="direction3" aria-hidden="aria-hidden">Honey</label>
                                    </li>
                                    <li><label class="select-box__option" for="direction4"
                                               aria-hidden="aria-hidden"></label></li>
                                </ul>
                            </div>
                        </div>

                        <div>
                            <label class="label user-select">
                                <span class="label-name">Country</span>
                            </label>
                            <div class="select-box">
                                <div class="select-box__current" tabindex="1">
                                    <div class="select-box__value">
                                        <input class="select-box__input" type="radio" id="country1" value="Cheese"
                                               name="totalfit_country"/>
                                        <p class="select-box__input-text">Cheese</p>
                                    </div>
                                    <div class="select-box__value">
                                        <input class="select-box__input" type="radio" id="country2" value="Milk"
                                               name="totalfit_country"/>
                                        <p class="select-box__input-text">Milk</p>
                                    </div>
                                    <div class="select-box__value">
                                        <input class="select-box__input" type="radio" id="country3" value="Honey"
                                               name="totalfit_country"/>
                                        <p class="select-box__input-text">Honey</p>
                                    </div>
                                    <div class="select-box__value" style="height: 44px">
                                        <input class="select-box__input" type="radio" id="country4" value="none"
                                               name="totalfit_country" checked="checked"/>
                                        <p class="select-box__input-text"></p>
                                    </div>
                                    <img class="select-box__icon" src="assets/img/icons/dropdown_icon.svg"
                                         alt="Arrow Icon" aria-hidden="true"/></div>

                                <ul class="select-box__list">
                                    <li><label class="select-box__option" for="country1" aria-hidden="aria-hidden">Cheese</label>
                                    </li>
                                    <li><label class="select-box__option" for="country2"
                                               aria-hidden="aria-hidden">Milk</label></li>
                                    <li><label class="select-box__option" for="country3"
                                               aria-hidden="aria-hidden">Honey</label></li>
                                    <li><label class="select-box__option" for="country4"
                                               aria-hidden="aria-hidden"></label></li>
                                </ul>
                            </div>
                        </div>

                        <div>
                            <label class="label user-select">
                                <span class="label-name">City</span>
                            </label>
                            <div class="select-box">
                                <div class="select-box__current" tabindex="1">
                                    <div class="select-box__value">
                                        <input class="select-box__input" type="radio" id="city1" value="Cheese"
                                               name="totalfit_city"/>
                                        <p class="select-box__input-text">Cheese</p>
                                    </div>
                                    <div class="select-box__value">
                                        <input class="select-box__input" type="radio" id="city2" value="Milk"
                                               name="totalfit_city"/>
                                        <p class="select-box__input-text">Milk</p>
                                    </div>
                                    <div class="select-box__value">
                                        <input class="select-box__input" type="radio" id="city3" value="Honey"
                                               name="totalfit_city"/>
                                        <p class="select-box__input-text">Honey</p>
                                    </div>
                                    <div class="select-box__value" style="height: 44px">
                                        <input class="select-box__input" type="radio" id="city4" value="none"
                                               name="totalfit_city" checked="checked"/>
                                        <p class="select-box__input-text"></p>
                                    </div>
                                    <img class="select-box__icon" src="assets/img/icons/dropdown_icon.svg"
                                         alt="Arrow Icon" aria-hidden="true"/></div>

                                <ul class="select-box__list">
                                    <li><label class="select-box__option" for="city1"
                                               aria-hidden="aria-hidden">Cheese</label></li>
                                    <li><label class="select-box__option" for="city2"
                                               aria-hidden="aria-hidden">Milk</label></li>
                                    <li><label class="select-box__option" for="city3"
                                               aria-hidden="aria-hidden">Honey</label></li>
                                    <li><label class="select-box__option" for="city4" aria-hidden="aria-hidden"></label>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <label for="user-address" class="label user-input w-282">
                            <span class="label-name">Address</span>
                            <textarea name="user-address" id="user-address" cols="30" rows="3" value=""
                                      class="form-control"></textarea>
                        </label>

                        <label for="user-phone" class="label user-input">
                            <span class="label-name">Contact phone</span>
                            <input type="text" id="user-phone" class="form-control user-input_phone"
                                   name="user-input_phone">
                        </label>

                        <div class="label user-input">
                            <span class="label-name">Photo</span>
                            <div id="drop-area">
                                <input type="file" id="fileElem" multiple accept="image/*">
                                <span>Drag photos here or</span>
                                <label class="button" for="fileElem">browse</label>
                                <div class="progress hide">
                                    <progress class="progress-line" id="progress-bar" max=100 value=0></progress>
                                </div>

                                <div id="gallery" class="image-prev hide">
                                    <img id="gallery-img" src="" alt="">
                                </div>

                            </div>
                        </div>

                    </div>

                    <h2>Cost and payments</h2>

                    <div class="form-group">

                        <div class="label user-radio w-282">
                            <span class="label-name">Model</span>

                            <input type="radio" id="for-profit" class="form-control user-radio-btn" name="model"
                                   value="for-profit">
                            <label class="user-radio-text" for="for-profit">
                                <span></span> For-profit
                            </label>

                            <input type="radio" id="non-profit" class="form-control user-radio-btn" name="model"
                                   value="non-profit">
                            <label class="user-radio-text" for="non-profit">
                                <span></span> Non-profit
                            </label>
                        </div>

                        <div>
                            <label class="label user-select">
                                <span class="label-name">Currency</span>
                            </label>
                            <div class="select-box w-144">
                                <div class="select-box__current" tabindex="1">
                                    <div class="select-box__value">
                                        <input class="select-box__input" type="radio" id="currency1" value="Cheese"
                                               name="totalfit_currency"/>
                                        <p class="select-box__input-text">Cheese</p>
                                    </div>
                                    <div class="select-box__value">
                                        <input class="select-box__input" type="radio" id="currency2" value="Milk"
                                               name="totalfit_currency"/>
                                        <p class="select-box__input-text">Milk</p>
                                    </div>
                                    <div class="select-box__value">
                                        <input class="select-box__input" type="radio" id="currency3" value="Honey"
                                               name="totalfit_currency"/>
                                        <p class="select-box__input-text">Honey</p>
                                    </div>
                                    <div class="select-box__value" style="height: 44px">
                                        <input class="select-box__input" type="radio" id="currency4" value="none"
                                               name="totalfit_currency" checked="checked"/>
                                        <p class="select-box__input-text"></p>
                                    </div>
                                    <img class="select-box__icon" src="assets/img/icons/dropdown_icon.svg"
                                         alt="Arrow Icon" aria-hidden="true"/></div>

                                <ul class="select-box__list">
                                    <li><label class="select-box__option" for="currency1" aria-hidden="aria-hidden">Cheese</label>
                                    </li>
                                    <li><label class="select-box__option" for="currency2"
                                               aria-hidden="aria-hidden">Milk</label></li>
                                    <li><label class="select-box__option" for="currency3" aria-hidden="aria-hidden">Honey</label>
                                    </li>
                                    <li><label class="select-box__option" for="currency4"
                                               aria-hidden="aria-hidden"></label></li>
                                </ul>
                            </div>
                        </div>

                        <div class="label user-input pricing">

                            <span class="label-name">Pricing</span>

                            <div class="pricing-block">

                                <label class="pricing-block__label" for="one-time">
                                    <span class="pricing-block__label__title">one-time</span>
                                    <input type="text" id="one-time" class="form-control user-input_name"
                                           name="one-time-price">
                                </label>

                                <label class="pricing-block__label" for="month">
                                    <span class="pricing-block__label__title">1 month</span>
                                    <input type="text" id="month" class="form-control user-input_name" name="month">
                                </label>

                                <label class="pricing-block__label" for="six-month">
                                    <span class="pricing-block__label__title">6 month</span>
                                    <input type="text" id="six-month" class="form-control user-input_name"
                                           name="six-month">
                                </label>
                            </div>

                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" name="trial" id="trial">
                                <label class="custom-control-label" for="trial">Trial Training</label>
                            </div>

                        </div>

                    </div>

                    <h2>Coaches</h2>

                    <div class="form-group">

                        <div>
                            <label class="label user-select">
                                <span class="label-name"></span>
                            </label>
                            <div class="select-box w-282">
                                <div class="select-box__current" tabindex="1">
                                    <div class="select-box__value">
                                        <input class="select-box__input" type="radio" id="coach1" value="Cheese"
                                               name="totalfit_coach"/>
                                        <p class="select-box__input-text">Cheese</p>
                                    </div>
                                    <div class="select-box__value">
                                        <input class="select-box__input" type="radio" id="coach2" value="Milk"
                                               name="totalfit_coach"/>
                                        <p class="select-box__input-text">Milk</p>
                                    </div>
                                    <div class="select-box__value">
                                        <input class="select-box__input" type="radio" id="coach3" value="Honey"
                                               name="totalfit_coach"/>
                                        <p class="select-box__input-text">Honey</p>
                                    </div>
                                    <div class="select-box__value" style="height: 44px">
                                        <input class="select-box__input" type="radio" id="coach4" value="none"
                                               name="totalfit_coach" checked="checked"/>
                                        <p class="select-box__input-text"></p>
                                    </div>
                                    <img class="select-box__icon" src="assets/img/icons/dropdown_icon.svg"
                                         alt="Arrow Icon" aria-hidden="true"/></div>

                                <ul class="select-box__list">
                                    <li><label class="select-box__option" for="coach1"
                                               aria-hidden="aria-hidden">Cheese</label></li>
                                    <li><label class="select-box__option" for="coach2"
                                               aria-hidden="aria-hidden">Milk</label></li>
                                    <li><label class="select-box__option" for="coach3"
                                               aria-hidden="aria-hidden">Honey</label></li>
                                    <li><label class="select-box__option" for="coach4"
                                               aria-hidden="aria-hidden"></label></li>
                                </ul>
                            </div>
                        </div>

                        <button id="add-coach" class="add-coach">
                            + Add coach
                        </button>

                    </div>

                    <button class="blue-btn w-282">SUBMIT</button>

                </form>
            </div>
        </div>
    </div>
</div>


<script>

    $(function () {
        $('#user-phone').inputmask({"mask": "+9(999)99999999"});

        $('.select-box__current').click(function () {
            $('.select-box__list').toggleClass('active');
            $('.select-box__icon').toggleClass('active');
        });
    });

</script>
