<div class="content-block">
    <div class="content-buttons">
        <div class="content-buttons-left">
            <button class="print-btn">
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect class="printer-bg" width="32" height="32" rx="4" fill="#F2F2F2"/>
                    <path class="printer"
                          d="M23 12H22V7H10V12H9C7.34 12 6 13.34 6 15V21H10V25H22V21H26V15C26 13.34 24.66 12 23 12ZM12 9H20V12H12V9ZM20 23H12V19H20V23ZM22 19V17H10V19H8V15C8 14.45 8.45 14 9 14H23C23.55 14 24 14.45 24 15V19H22Z"
                          fill="#ACAEAC"/>
                    <path class="printer"
                          d="M22 16.5C22.5523 16.5 23 16.0523 23 15.5C23 14.9477 22.5523 14.5 22 14.5C21.4477 14.5 21 14.9477 21 15.5C21 16.0523 21.4477 16.5 22 16.5Z"
                          fill="#ACAEAC"/>
                </svg>
            </button>

            <div class="keep-inside-clicks-open dropdown ">
                <button role="button" type="button" class="filter-btn dropdown" data-toggle="dropdown">
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect class="filter-bg" width="32" height="32" rx="4" fill="#F2F2F2"/>
                        <path class="filter" d="M14 22H18V20H14V22ZM7 10V12H25V10H7ZM10 17H22V15H10V17Z"
                              fill="#ACAEAC"/>
                    </svg>
                </button>
                <div class="dropdown-menu">
                    <h5 class="dropdown-header">FIlter by model</h5>
                    <button class="dropdown-item button" type="button">Totalfit Go <span></span></button>
                    <button class="dropdown-item" type="button">Totalfit Home <span></span></button>
                    <!--type='button' is important-->
                    <h5 class="dropdown-header">filter by direction</h5>
                    <a class="dropdown-item link" href="#">General</a>
                    <a class="dropdown-item" href="#">Defense</a>
                    <a class="dropdown-item" href="#">Youth </a>
                    <a class="dropdown-item" href="#">Performance</a>
                </div>
            </div>
        </div>
        <div class="content-buttons-right">
            <button class="add-gym-btn blue-btn">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19 13H13V19H11V13H5V11H11V5H13V11H19V13Z" fill="white"/>
                </svg>
                add gym
            </button>
        </div>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-6 ">
                <div class="gym-card">
                    <div class="card-image">
                        <img class="w-100" src="assets/img/gym-card/gym.png" alt="Gym"/>
                        <div class="card-image-overlay">
                            <span class="card-detail-badge home">Home</span>
                            <span class="card-detail-badge general">General</span>
                        </div>
                    </div>

                    <div class="card-body text-left">
                        <div class="title">
                            <h5>Totalfit Brighton</h5>
                        </div>
                        <div class="address">
                            <p>34, Watson st. London, UK</p>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 ">
                <div class="gym-card">
                    <div class="card-image">
                        <img class="w-100" src="assets/img/gym-card/gym.png" alt="Gym"/>
                        <div class="card-image-overlay">
                            <span class="card-detail-badge home">Home</span>
                            <span class="card-detail-badge general">General</span>
                        </div>
                    </div>

                    <div class="card-body text-left">
                        <div class="title">
                            <h5>Totalfit Brighton</h5>
                        </div>
                        <div class="address">
                            <p>34, Watson st. London, UK</p>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 ">
                <div class="gym-card">
                    <div class="card-image">
                        <img class="w-100" src="assets/img/gym-card/gym.png" alt="Gym"/>
                        <div class="card-image-overlay">
                            <span class="card-detail-badge home">Home</span>
                            <span class="card-detail-badge general">General</span>
                        </div>
                    </div>

                    <div class="card-body text-left">
                        <div class="title">
                            <h5>Totalfit Brighton</h5>
                        </div>
                        <div class="address">
                            <p>34, Watson st. London, UK</p>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 ">
                <div class="gym-card">
                    <div class="card-image">
                        <img class="w-100" src="assets/img/gym-card/gym.png" alt="Gym"/>
                        <div class="card-image-overlay">
                            <span class="card-detail-badge home">Home</span>
                            <span class="card-detail-badge general">General</span>
                        </div>
                    </div>

                    <div class="card-body text-left">
                        <div class="title">
                            <h5>Totalfit Brighton</h5>
                        </div>
                        <div class="address">
                            <p>34, Watson st. London, UK</p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 ">
                <div class="gym-card">
                    <div class="card-image">
                        <img class="w-100" src="assets/img/gym-card/gym.png" alt="Gym"/>
                        <div class="card-image-overlay">
                            <span class="card-detail-badge home">Home</span>
                            <span class="card-detail-badge general">General</span>
                        </div>
                    </div>

                    <div class="card-body text-left">
                        <div class="title">
                            <h5>Totalfit Brighton</h5>
                        </div>
                        <div class="address">
                            <p>34, Watson st. London, UK</p>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
