<div class="content-block">
  <div class="content-buttons">
    <div class="content-buttons-left">

      <div class="keep-inside-clicks-open dropdown ">

        <button  role="button" type="button"  class="filter-btn dropdown" data-toggle="dropdown">
          <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect class="filter-bg" width="32" height="32" rx="4" fill="#F2F2F2"/>
            <path class="filter" d="M14 22H18V20H14V22ZM7 10V12H25V10H7ZM10 17H22V15H10V17Z" fill="#ACAEAC"/>
          </svg>
        </button>

        <div class="dropdown-menu">
          <h5 class="dropdown-header">Filter by duration</h5>
          <button class="dropdown-item dropdown-item__active" type="button">4 weeks <span></span></button>
          <button class="dropdown-item" type="button">2 weeks <span></span></button> <!--type='button' is important-->

          <h5 class="dropdown-header">Filter by direction</h5>
          <button class="dropdown-item" type="button">General <span></span></button>
          <button class="dropdown-item" type="button">Defense <span></span></button>
          <button class="dropdown-item" type="button">Youth <span></span></button>
          <button class="dropdown-item" type="button">Performance <span></span></button>

          <h5 class="dropdown-header">Filter by direction</h5>
          <button class="dropdown-item" type="button">Get Mustles <span></span></button>

        </div>

      </div>

    </div>

    <div class="content-buttons-right">
      <button class="add-gym-btn blue-btn">
        Buy new program
      </button>
    </div>
  </div>

  <div class="content container myGyms">
    <div class="row">

      <div class="col-xl-3 col-lg-4 col-md-6 ">
        <div class="gym-card">
          <div class="card-image">
            <img class="w-100" src="../../assets/img/gym-card/gym.png" alt="Gym" />
            <div class="card-image-overlay">
              <span class="card-detail-badge created">Totalfit Created</span>
              <div class="card-detail-badge time">
                <img src="../assets/img/icons/clock.svg" alt="">
                <span>4 weeks</span>
              </div>
            </div>
          </div>

          <div class="card-body text-left">
            <div class="subtitle">
              <span>totalfit defence</span>
            </div>
            <div class="title">
              <h5>Get Healthy</h5>
            </div>
            <div class="result">
              <p>Get mustles and get stretched</p>
            </div>

          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6 ">
        <div class="gym-card">
          <div class="card-image">
            <img class="w-100" src="../../assets/img/gym-card/gym.png" alt="Gym" />
            <div class="card-image-overlay">
              <span class="card-detail-badge created">Totalfit Created</span>
              <div class="card-detail-badge time">
                <img src="../assets/img/icons/clock.svg" alt="">
                <span>4 weeks</span>
              </div>
            </div>
          </div>

          <div class="card-body text-left">
            <div class="subtitle">
              <span>totalfit defence</span>
            </div>
            <div class="title">
              <h5>Get Healthy</h5>
            </div>
            <div class="result">
              <p>Get mustles and get stretched</p>
            </div>

          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6 ">
        <div class="gym-card">
          <div class="card-image">
            <img class="w-100" src="../../assets/img/gym-card/gym.png" alt="Gym" />
            <div class="card-image-overlay">
              <div class="card-detail-badge time">
                <img src="../assets/img/icons/clock.svg" alt="">
                <span>4 weeks</span>
              </div>
            </div>
          </div>

          <div class="card-body text-left">
            <div class="subtitle">
              <span>totalfit defence</span>
            </div>
            <div class="title">
              <h5>Healthy Body and Clear Mind</h5>
            </div>
            <div class="result">
              <p>Get mustles and get stretched</p>
            </div>

          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6 ">
        <div class="gym-card">
          <div class="card-image">
            <img class="w-100" src="../../assets/img/gym-card/gym.png" alt="Gym" />
            <div class="card-image-overlay">
              <span class="card-detail-badge created">Totalfit Created</span>
              <div class="card-detail-badge time">
                <img src="../assets/img/icons/clock.svg" alt="">
                <span>4 weeks</span>
              </div>
            </div>
          </div>

          <div class="card-body text-left">
            <div class="subtitle">
              <span>totalfit defence</span>
            </div>
            <div class="title">
              <h5>Get Healthy</h5>
            </div>
            <div class="result">
              <p>Get mustles and get stretched</p>
            </div>

          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6 ">
        <div class="gym-card">
          <div class="card-image">
            <img class="w-100" src="../../assets/img/gym-card/gym.png" alt="Gym" />
            <div class="card-image-overlay">
              <span class="card-detail-badge created">Totalfit Created</span>
              <div class="card-detail-badge time">
                <img src="../assets/img/icons/clock.svg" alt="">
                <span>4 weeks</span>
              </div>
            </div>
          </div>

          <div class="card-body text-left">
            <div class="subtitle">
              <span>totalfit defence</span>
            </div>
            <div class="title">
              <h5>Get Healthy</h5>
            </div>
            <div class="result">
              <p>Get mustles and get stretched</p>
            </div>

          </div>
        </div>
      </div>


    </div>

  </div>
</div>

<script src="../js/filter.js"></script>