<div class="content-block">
  <div class="content-buttons">

    <div class="dropdown filter">
      <button role="button" type="button" class="filter-btn dropdown" data-toggle="dropdown">
        <input class="input_mask" id="input_btn" checked type="radio" name="radioActive">
        <label for="input_btn" class="filter-input_main">
          <svg class="svg" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect class="filter-bg" width="32" height="32" rx="4" fill="#F2F2F2"/>
            <path class="filter" d="M14 22H18V20H14V22ZM7 10V12H25V10H7ZM10 17H22V15H10V17Z"
                  fill="#ACAEAC"/>
          </svg>
        </label>
      </button>

      <form class="dropdown-menu">
        <h5 class="dropdown-header">FIlter by model</h5>
        <div class="dropdown-item link">
          <input class="input_mask" id="go-total" type="radio" name="radioActive">
          <label for="go-total" class="dropdown-text">Totalfit Go
          </label>
        </div>

        <div class="dropdown-item link">
          <input class="input_mask" id="home-total" type="radio" name="radioActive">
          <label for="home-total" class="dropdown-text">Totalfit Home
          </label>
        </div>
        <!--type='button' is important-->
        <h5 class="dropdown-header">filter by direction</h5>
        <div class="dropdown-item link">
          <input class="input_mask" id="filter-direction1" type="radio" name="radioActive">
          <label for="filter-direction1" class="dropdown-text">General
          </label>
        </div>
        <div class="dropdown-item link">
          <input class="input_mask" type="radio" id="filter-direction2" name="radioActive">
          <label for="filter-direction2" class="dropdown-text">Defense</label>
        </div>
        <div class="dropdown-item link">
          <input class="input_mask" type="radio" id="filter-direction3" name="radioActive">
          <label for="filter-direction3" class="dropdown-text">Youth</label>
        </div>
        <div class="dropdown-item link">
          <input class="input_mask" type="radio" id="filter-direction4" name="radioActive">
          <label for="filter-direction4" class="dropdown-text">Performance</label>
        </div>
        <div class="dropdown-box_apply">
          <h5 class="dropdown-header_clear">Clear all</h5>
          <button type="button" class="blue-btn">
            <span class="blue-btn_text">Apply</span>
          </button>
        </div>
      </form>
    </div>

    <div class="content-buttons-right">

      <button class="blue-btn">
        <span class="blue-btn_icon">+</span> <span class="blue-btn_text">add location</span>
      </button>

    </div>

  </div>

  <div class="content container myGyms">
    <div class="row">

      <div class="col-xl-3 col-lg-4 col-md-6 ">
        <div class="gym-card">
          <div class="card-image">
            <img class="w-100" src="../../assets/img/gym-card/gym.png" alt="Gym" />
            <div class="card-image-overlay">
              <span class="card-detail-badge created">Totalfit Created</span>
              <div class="card-detail-badge time">
                <img src="../assets/img/icons/clock.svg" alt="">
                <span>4 weeks</span>
              </div>
            </div>
          </div>

          <div class="card-body text-left">
            <div class="subtitle">
              <span>totalfit defence</span>
            </div>
            <div class="title">
              <h5>Get Healthy</h5>
            </div>
            <div class="result">
              <p>Get mustles and get stretched</p>
            </div>

          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6 ">
        <div class="gym-card">
          <div class="card-image">
            <img class="w-100" src="../../assets/img/gym-card/gym.png" alt="Gym" />
            <div class="card-image-overlay">
              <span class="card-detail-badge created">Totalfit Created</span>
              <div class="card-detail-badge time">
                <img src="../assets/img/icons/clock.svg" alt="">
                <span>4 weeks</span>
              </div>
            </div>
          </div>

          <div class="card-body text-left">
            <div class="subtitle">
              <span>totalfit defence</span>
            </div>
            <div class="title">
              <h5>Get Healthy</h5>
            </div>
            <div class="result">
              <p>Get mustles and get stretched</p>
            </div>

          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6 ">
        <div class="gym-card">
          <div class="card-image">
            <img class="w-100" src="../../assets/img/gym-card/gym.png" alt="Gym" />
            <div class="card-image-overlay">
              <div class="card-detail-badge time">
                <img src="../assets/img/icons/clock.svg" alt="">
                <span>4 weeks</span>
              </div>
            </div>
          </div>

          <div class="card-body text-left">
            <div class="subtitle">
              <span>totalfit defence</span>
            </div>
            <div class="title">
              <h5>Healthy Body and Clear Mind</h5>
            </div>
            <div class="result">
              <p>Get mustles and get stretched</p>
            </div>

          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6 ">
        <div class="gym-card">
          <div class="card-image">
            <img class="w-100" src="../../assets/img/gym-card/gym.png" alt="Gym" />
            <div class="card-image-overlay">
              <span class="card-detail-badge created">Totalfit Created</span>
              <div class="card-detail-badge time">
                <img src="../assets/img/icons/clock.svg" alt="">
                <span>4 weeks</span>
              </div>
            </div>
          </div>

          <div class="card-body text-left">
            <div class="subtitle">
              <span>totalfit defence</span>
            </div>
            <div class="title">
              <h5>Get Healthy</h5>
            </div>
            <div class="result">
              <p>Get mustles and get stretched</p>
            </div>

          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6 ">
        <div class="gym-card">
          <div class="card-image">
            <img class="w-100" src="../../assets/img/gym-card/gym.png" alt="Gym" />
            <div class="card-image-overlay">
              <span class="card-detail-badge created">Totalfit Created</span>
              <div class="card-detail-badge time">
                <img src="../assets/img/icons/clock.svg" alt="">
                <span>4 weeks</span>
              </div>
            </div>
          </div>

          <div class="card-body text-left">
            <div class="subtitle">
              <span>totalfit defence</span>
            </div>
            <div class="title">
              <h5>Get Healthy</h5>
            </div>
            <div class="result">
              <p>Get mustles and get stretched</p>
            </div>

          </div>
        </div>
      </div>


    </div>

  </div>
</div>

<script src="../js/filter.js"></script>