@import "colors";

.btn {
  border: none;

  .filter {
    fill: $gray;
  }

  .svg {
    top: 9px;
    left: 5px;
    position: absolute;
  }

  &[aria-expanded="true"] {
    background: $white-color;
    border: none;
    .filter-bg {
      fill: black;
    }
    .filter {
      fill:  $darken-gray;
    }
  }

  &-secondary {
    background: $input-bg;
    border: none;
    width: 26px;
    height: 24px;
    position: relative;
    &:focus {
      box-shadow: none !important;
    }
    &:not(:disabled):not(.disabled):active {
      border: none;
      background: $input-bg;
      .filter {
        fill: $darken-gray;
      }
    }
    &:hover {
      border: none;
      background: $input-bg;
      .filter {
        fill:  $darken-gray;
      }
    }
  }
}

.dropdown-item {
  font-size: 14px;
  line-height: 19px;
  color: $header-bg;
  width: 100%;
  padding: 8px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    background-color: $input-bg;
  }

  &:active {
    background-color: $input-bg;
    color: $menu-color;
  }

  &_delete {
    padding: 0;
  }
}

.dropdown-menu {
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 240px;
}

button {
  background-color: inherit;
  border: none;
  cursor: pointer;
  outline: 0 !important;
}