$header-bg: #000;
$header-color: #FAFAFA;
$input-bg: #f2f2f2;
$menu-color: #7E8283;
$body-bg: #E5E5E5;
$main-bg: #ffffff;
$blue: #907CFF;
$button-hover: #6B5DBA;
$red: #E65C58;
$black: #1D1D1B;
$dark-gray: #515154;
$darken-gray: #515759;
$light-gray: #d9d9d6;
$gray: #acaeac;
$pricing-title: #797979;
