@import "colors";

.btn {
  border: none;

  .filter {
    fill: $gray;
  }

  .svg {
    top: 9px;
    left: 5px;
    position: absolute;
  }
  &-secondary {
    background: $input-bg;
    border: none;
    width: 26px;
    height: 24px;
    position: relative;
    &:focus {
      box-shadow: none !important;
    }
    &:not(:disabled):not(.disabled):active {
      border: none;
      background: $input-bg;
      .filter {
        fill: $darken-gray;
      }
    }
    &:hover {
      border: none;
      background: $input-bg;
      .filter {
        fill:  $darken-gray;
      }
    }
  }

  &[aria-expanded="true"] {
    background: $white-color;
    border: none;
    .filter-bg {
      fill: black;
    }
    .filter {
      fill:  $darken-gray;
    }
  }
}

.content-block {
  width: 100%;

  .dropdown-item {
    font-size: 14px;
    line-height: 19px;
    color: $header-bg;
    width: 100%;
    padding: 8px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
      background-color: $input-bg;
    }

    &:active {
      background-color: $input-bg;
      color: $menu-color;
    }

    &_delete {
      padding: 0;
    }
  }

  &-badge_ellips {
    padding: 0 1px;
  }

  .content-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 20px 6px 18px;

    .input_mask {
      display: none;
    }

    .input_mask:checked + .dropdown-text:before {
      opacity: 1;
    }
    .input_mask:checked + .filter-input_main {
      .filter {
        fill: $gray;
        &-bg {
          fill: $input-bg;;
        }
      }
    }

    .dropdown-text {
      height: 20px;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      font-size: 14px;
      line-height: 19px;
      margin: 0;
      width: 100%;

      &:before {
        content: "";
        border-radius: 50%;
        background: $blue;
        opacity: 0;
        height: 8px;
        width: 8px;
        display: block;
      }
    }

    &-left {
      display: flex;

      .filter-btn {
        &:hover {
          border: none;
        }

        &:hover .filter {
          fill: $darken-gray;
        }
        .filter {
          padding: 40px;
          fill: $blue;
          &-bg {
            fill: $rose;
          }
        }

        &[aria-expanded="true"] {
          .filter {
            fill: $darken-gray !important;
            &-bg {
              fill: $white-color !important;
            }
            &-btn {
              background: black;
            }
          }
        }
      }

      .dropdown-menu {
        background: $main-bg;
        border-radius: 4px;
        padding: 12px 0;

        .dropdown-header {
          color: $menu-color;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          font-size: 10px;
          line-height: 12px;
          padding: 12px 24px;
        }

        .dropdown-item__active span {
          display: inline-block;
          width: 8px;
          height: 8px;
          background-color: $blue;
          border-radius: 50%;
        }
      }
    }
  }

  .dropdown-menu {
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

  .dropdown-box_apply {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 22px;
  }

  .dropdown-apply {
    background: $blue;
    border: 1px solid $blue;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    width: 100px;
    height: 36px;
    color: $main-bg;
    &:hover {
      background: $button-hover;
    }
    &:active {
      color: $activeColor;
    }
  }

  .dropdown-header_clear {
    color: $menu-color;
    letter-spacing: 0.0125em;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }

  .content {
    padding: 0;
    margin: 0;
    max-width: initial;

    .row {
      margin-left: 14px;

      > div {
        padding: 10px 11px 15px 9px;
      }
    }

    .gym-card {
      height: 194px;
      background: $main-bg;
      border: 1px solid $borderColor;
      border-radius: 4px;
      transition: ease .2s;

      &:hover {
        border: none;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
      }
      &:active {
        background: $coloRose;
      }
      .gym-card.active {
        background-color: $input-bg;
      }

      .card-image {
        &_box {
          overflow: hidden;
          box-sizing: border-box;
          object-fit: cover;
          width: 100%;
          position: relative;
          display: block;
        }

        > img {
          overflow: hidden;
          box-sizing: border-box;
          object-fit: cover;
          width: 100%;
          position: relative;
          display: block;
          border-radius: 4px;
          height: 112px;
        }

        .card-image-overlay {
          display: flex;
          padding: 12px 17px 0 16px;
          justify-content: space-between;

          span {
            color: $header-color;
            font-size: 12px;
            padding: 2px 6px;
            border-radius: 4px;
            display: inline-block;
          }
          .go {
            background-color: $greenGo;
            height: 24px;
            width: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
          }
          .home {
            background-color: $blue;
            height: 24px;
            display: flex;
            width: 57px;
            justify-content: center;
            align-items: center;
            cursor: pointer;
          }

          .general {
            background-color: $white-color;
            width: 26px;
            height: 24px;
            border-radius: 4px;
            display: flex;
            opacity: 0.5;
            justify-content: center;
            align-items: center;
            &:hover {
              opacity: 1;
              background: $input-bg;
              & + .general.active {
                background: $header-bg;
              }
            }
          }
        }
      }

      .card-body {
        padding: 12px 2px 0 16px;
        line-height: 2px;

        .title h5 {
          color: $black;
          font-family: "Roboto Bold", sans-serif;
          font-weight: 700;
          letter-spacing: .02em;
          font-size: 19px;
          line-height: 20px;
        }

        .address p {
          color: $menu-color;
          font-size: 12px;
          line-height: 14px;
          padding: 0;
          margin-bottom: 16px;
        }
      }
    }
  }
}

.card_go {
  height: 217px !important;
}

.blue-btn {
  background: $blue;
  border-radius: 4px;
  padding: 8px 17px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
  line-height: 0;
  letter-spacing: -.0027em;
  height: 38px;
  display: flex;
  justify-content: center;
  color: $main-bg;
  cursor: pointer;

  &_button {
    font-size: 29px;
    margin: 0 8px 0 0;

  }
  &_add {
    margin: 0 8px 0 0;
    font-size: 14px;
    line-height: 21px;
  }

  &:hover {
    background-color: $button-hover;
  }

  &:active {
    background-color: $button-hover;
    color: $activeColor;
  }
}
.filter-btn:hover .filter {
  fill: $darken-gray !important;
}
.modal {
  &-content {
    padding: 20px 15px 14px 24px;
    width: 339px;
    height: 141px;
  }

  &-title {
    position: relative;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.0041em;
  }

  &_body {
    font-size: 12px;
    line-height: 14px;
    margin: 8px 0 12px;
    color: $darken-gray;
  }

  &_footer {
    margin: 0 0 0 119px;

    .modal_close {
      position: absolute;
      top: 9px;
      right: 13px;
    }

    .modal_box {
      padding: 0;
    }
  }
}

@media (max-width: 1024px) {
  .gym-card {
    width: 230px !important;
  }
}
@media (min-width: 1386px) {
  .gym-card {
    width: 257px !important;
  }
}