@import "colors";

.content-block {
  width: 100%;

  .content-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 20px 6px 18px;

    &-right {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .content {
    padding: 0;
    margin: 0;
    max-width: initial;

    .row {
      margin: 0;
      padding: 0 10px;

      > div {
        padding: 10px 11px 15px 9px;
      }
    }

  }
}
