@import "colors";

.menu-box {
  width: 252px;
}

.menu-block {

  .menu {
    &-list {
      padding-left: 0;
      padding-top: 8px;

      .menu-item {
        color: $menu-color;
        padding: 10px 24px;
        width: 100%;

        &:hover {
          background-color: $input-bg;
        }

        svg {
          margin-right: 12px;
        }
      }

      span.menu-item {
        display: inline-block;
      }

      .submenu-block{
        height: 0;
        overflow: hidden;
        transition: all .7s;
      }

      .submenu {
        transform: translateY(-100%);
        padding-left: 0;
        transition: all 0.7s;

        li {
          padding-left: 76px;
        }
      }

      .open-submenu {
        width: 100%;
        display: inline-block;
      }

      .active {
        color: $header-bg;

        span {
          color: $header-bg;
        }

        .icon {
          stroke: $header-bg;
          stroke-width: 2;
          stroke-linecap: butt;
          stroke-dasharray: 0;
        }

        .icon-fill {
          fill: $header-bg;
        }

        .submenu-block {
          height: 132px;
        }

        .submenu {
          transform: translateY(0);
        }
      }
    }
  }

}
