@import "colors";

.form_text {
  margin-bottom: 12px !important;
}

.custom-control {
  &-label {
    padding: 4px 0 0 6px;
  }
  &-label::after {
    width: 24px;
    height: 24px;
    border: none;
  }
  &-label::before {
    position: absolute;
    background-color: $main-bg;
    width: 24px;
    height: 24px;
    border: 1px solid $white-color ;
    border-radius: 4px;
  }
  &-input:checked ~ .custom-control-label::before {
    border: none;
    background-color: $blue;
  }
}
.label {
  input {
    border: 1px solid $white-color;
  }
  input:focus {
    border: 1px solid $blue;
    box-sizing: border-box;
    border-radius: 3px;
  }
  &_form-control {
    background: url("../assets/img/programm/calendar.svg") no-repeat;
    background-position-y: center;
    background-position-x: calc(100% - 10px);
  }

}

.select-box-header {
  color: $menu-color;
}

.custom-control-input:checked ~ .custom-control-label::before ~ .select-box__input:checked {
  border: 1px solid $blue;
  border-radius: 4px;
  background-color: $blue;
}

.them_style {
  height: 44px;
  border: 1px solid $menu-color;
}
.story_label {
  &-thuth {
    border: 1px solid;
    width: 387px;
    height: 72px;
    border-radius: 4px;
  }
  &-thuth:focus {
    outline: none !important;
    border: 1px solid $blue;
    border-radius: 4px;
    box-shadow: none;
  }
  .label-name {
    margin-top: 12px;
  }
  &-story {
    border: 1px solid;
    width: 387px !important;
    height: 92px !important;
    border-radius: 4px;
  }
  &-story:focus {
    box-shadow: none;
    outline: none !important;
    border-radius: 4px;
    border: 1px solid $blue;
  }
}
.custom-checkbox {
  .custom-control-label {
    padding-left: 8px;
  }
}
.helthy_live {
  width: 223px;
}
.warm_up {
  height: 262px !important;
}
.wod_exercises {
  width: 500px;
  height: 351px;
  display: grid;
  grid-template-rows: 34px 60px 60px 60px 59px 31px;

  button {
    padding: 0;
    color: $blue;
  }
  &-block_span {
    color: $blue;
  }
  &-block {
    display: grid;
    height: 44px;
    grid-template-columns: 21px 246px 111px 1fr;
  }
  &_name {
    height: 44px;
    width: 94px;
  }
  &_name:focus {
    border: 1px solid $blue;
  }
}
.button_save {
  background: $blue;
  width: 305px;
  height: 44px;
}

.height_value {
  height: 44px;
}
.metric-box {
  width: 92px;
}

.select-box-revert {
  position: relative;
  display: block;
  width: 228px;

  &__current {
    &:focus {
      & + .select-box-revert__list-revert.active {
        opacity: 1;

        // We have to set "animation-name: none;" to make the list visible (read below how it works)
        animation-name: none;

        .select-box-revert__option.active {
          cursor: pointer;
        }
      }

      .select-box-revert__icon-revert.active {
        transform: translateY(-50%) rotate(360deg);
      }
      .select-box__input-text {
        border: 1px solid $blue;
      }
    }
  }

  &__icon-revert {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    width: 13px;
    transition: 0.2s ease;
  }
  &__icon-revert {
    transform: translateY(-50%);
  }
  &:hover .select-box-revert__icon-revert{
    transform: translateY(-50%) rotate(180deg);
  }

  &__list-revert {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    position: absolute;
    z-index: 50;
    bottom: 40px;
    width: 100%;
    padding: 0;
    list-style: none;
    opacity: 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: white;

    animation-name: HideList;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: step-start;
  }
}
